#main_form {
	background-color:  #403F3A;	
	height:95%;
	/*overflow-y:hidden;*/
	
}

#main {
	margin-left:0%;
}
input {
	width:30px;
}



html body
{
  background:  #403F3A;
  background-color: #403F3A;
  color:rgba(245,222,179,0.76);
/*overflow-y:hidden;*/
  
}

.book {
  	height:800px;
	margin-left: 0%;
	margin-right: 0%;
	font-family:verdana;
	
	

}


.upper {
	top:0px;
	height:30%;
	overflow-y:scroll;
	color:rgba(245,222,179,0.10);
	width:100%;
	text-align:justify;
	
}
.upper-last-child {
	background-color:  #403F3A;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.2s;
}

/* Standard syntax */
@keyframes example {
    from {background-color: rgba(245,222,179,0.30);}
    to {background-color: #403F3A;}
}

@keyframes reader {
    from {color: rgba(245,222,179,0.75);}
    to {color: rgba(245,222,179,0);}
}

#marker {
	margin-top:40px;
	margin-bottom:40px;
	height:50px;
	
}

#marker td{
	width:30%;
}

#reader-container.reader p{
	width:160px;
	text-align:center;
	text-align-last: center;
	margin:0px;
	font-size:medium;
	font-family:verdana;
	
	
}

.lateral {
	width:25%;
	vertical-align:top;
	padding-top:20%;
}



.lateral-table{
	width:100%;
}

.page-position {
	float:right;
	padding-right:10px;
}
.goto{
	float:right;
}
#goto {
	float:right;
	margin-right:10px;
	margin-left:10px;
	padding:0px;
	width:30px;
	
}

#time-2-read {
	float:left;
	margin-right:10px;
	margin-left:10px;
	padding:0px;
	width:30px;
	
}


.downer {
	height:55%;
	overflow:scroll;
	color:rgba(245,222,179,0.10);
	width:100%;	
	text-align:justify;

	
}




.period {
		-webkit-animation-name: reader; /* Chrome, Safari, Opera */
	    -webkit-animation-duration: 2s;
}
.paragraph {
	background-color:red;
}

.current {
	float:right;
}

.main_form {
	overflow:hidden;
}


.all-container {
	height:800px;
	overflow-y:scroll;
	text-align:justify;
	
	
}
#file-select-column{
	width:1em;
}

#loading-message-column {
width:2em;
color:white;

}

@media only screen and (max-device-width: 700px) {
	.book {
	  	height:600px;
		margin-left: 2%;
		margin-right: 2%;
		font-family:verdana;
	

	}
	
	#reader-container.reader p{
		width:300px;
		text-align:center;
		margin:0px;
		font-size:large;
		font-family:verdana;
	
	}
	
	.upper {
		top:0px;
		height:25%;
		overflow-y:scroll;
		color:#44;
		width:100%;
		text-align:justify;
	
	}
	
	.current {
		height:5px;
		float:right;
		margin-right: 2%;
		
	}
	
	.downer {
		height:40%;
		overflow:scroll;
		color:#44;
		width:100%;	
		text-align:justify;
		font-size:small;

	
	}
	
	.main_form {
		overflow:scroll;
	}
	
	.upper-last-child {
		background-color: black;
		animation-name: example; /* Chrome, Safari, Opera */
	    animation-duration: 0.5s;
	}

	/* Standard syntax */
	@keyframes example {
	    from {background-color: #444444;}
	    to {background-color: black;}
	}
	
	.all-container {
		height:550px;
		overflow-y:scroll;
		text-align:justify;
	
	
	}
	
	.lateral {
		width:10%;
	}
	
	body, html {height:100%;overflow-y:scroll;
}
}


