

.panel div {
	margin-left: 200px;
	margin-right: 200px;
}

.book {
  position:relative;

}
.transparent {
  color:#E3E7E7;
}

.upper {
	position: relative;
	top:0px;
	height:400px;
	width:800px;
	overflow-y:scroll;
	
	color:#E3E7E7;
}

.text-upper {
	position: absolute;
	bottom:0px;
	overflow-y:scroll;
	height:20px;
	
	
}
.reader {
	position: absolute;
	top:400px;
	height:50px;
	width:300px;
}
.downer {
	position: absolute;
	top:450px;
	height:400px;
	width:800px;
	overflow:scroll;
	
	color:#A3E7E7;
}

.panel button.play  {
	margin-left: 200px;
	margin-right: 200px;
}

textarea.text-background {
	z-index=100;
}


