#main_form {
	background-color: black;	
}

.panel {
		background-color: black;	
}

.panel.panel-default div{
		background-color: black;	
}

.panel div {
	
	background-color: black;	
}

.book {
  	height:1200px;
	margin-left: 30%;
	margin-right: 30%;

}
.transparent {
  color:#E3E7E7;
}

.upper {
	top:0px;
	height:400px;
	overflow-y:scroll;
	color:#44;
	width:100%;
}
.upper-last-child {
	background-color: black;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s;
}

/* Standard syntax */
@keyframes example {
    from {background-color: #444444;}
    to {background-color: black;}
}

#marker {
	margin-top:40px;
	color:#DDD;
	margin-bottom:40px;
}

#marker td{
	width:30%;
}

#reader-container.reader p{
	width:300px;
	text-align:center;
	margin:0px;
	
	
}





.downer {
	top:450px;
	height:400px;
	overflow:scroll;
	color:#44;
	width:100%;
	
}
.loader {
	float: bottom;
}
.panel button.play  {
	margin-left: 200px;
	margin-right: 200px;
}



.period {
	background-color:red;
}
.paragraph {
	background-color:red;
}



