#main_form {
	background-color: black;	
}

.panel {
		background-color: black;	
}

.panel.panel-default div{
		background-color: black;	
}

.panel div {
	
	background-color: black;	
}

.book {
  	height:800px;
	margin-left: 30%;
	margin-right: 30%;
	font-family:verdana;
	overflow-y:hidden;
	
	

}
.transparent {
  color:#E3E7E7;
}

.upper {
	top:0px;
	height:25%;
	overflow-y:scroll;
	color:#44;
	width:100%;
	text-align:justify;
	
}
.upper-last-child {
	background-color: black;
	-webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s;
}

/* Standard syntax */
@keyframes example {
    from {background-color: #444444;}
    to {background-color: black;}
}

#marker {
	margin-top:40px;
	color:#DDD;
	margin-bottom:40px;
	height:50px;
	
}

#marker td{
	width:30%;
}

#reader-container.reader p{
	width:300px;
	text-align:center;
	margin:0px;
	font-size:medium;
	font-family:verdana;
	
}





.downer {
	height:40%;
	overflow:scroll;
	color:#44;
	width:100%;	
	text-align:justify;

	
}
.loader {
	height:10px;
}
.panel button.play  {
	margin-left: 200px;
	margin-right: 200px;
}



.period {
	background-color:red;
}
.paragraph {
	background-color:red;
}

.current {
	float:right;
}

.main_form {
	overflow:hidden;
}

@media only screen and (min-device-width: 200px) {
	.book {
	  	height:600px;
		margin-left: 2%;
		margin-right: 2%;
		font-family:verdana;
	

	}
	
	#reader-container.reader p{
		width:300px;
		text-align:center;
		margin:0px;
		font-size:large;
		font-family:verdana;
	
	}
	
	.upper {
		top:0px;
		height:25%;
		overflow-y:scroll;
		color:#44;
		width:100%;
		text-align:justify;
	
	}
	
	.current {
		height:5px;
		float:right;
		margin-right: 2%;
		
	}
	
	.downer {
		height:40%;
		overflow:scroll;
		color:#44;
		width:100%;	
		text-align:justify;
		font-size:small;

	
	}
	
	.upper-last-child {
		background-color: black;
		animation-name: example; /* Chrome, Safari, Opera */
	    animation-duration: 0.5s;
	}

	/* Standard syntax */
	@keyframes example {
	    from {background-color: #444444;}
	    to {background-color: black;}
	}
}


