.fulljustify {
	text-align: justify;
}
.fulljustify:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.text-panel{
	height:100px;
}

.panel div {
	margin-left: 200px;
	margin-right: 200px;
}





.panel p.look, p.marker { 
	margin-left: 300px; 
	margin-right: 300px;
	background-image:url('../images/marker.gif');
	background-position:center;  ;
}


.panel button.play  {
	margin-left: 200px;
	margin-right: 200px;
}

textarea.text-background {
	z-index=100;
}

#overlay {
	    background-color: #EEEEEE;
	        position: absolute;
		    z-index:100;
	    }
